/* HotSiteElectolux - Style for dusigner.com.br*/
@font-face {
    font-family: 'E_regular';
    src: url('../font/electroluxsans_3_regular-webfont.eot');
    src: url('../font/electroluxsans_3_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/electroluxsans_3_regular-webfont.woff2') format('woff2'),
         url('../font/electroluxsans_3_regular-webfont.woff') format('woff'),
         url('../font/electroluxsans_3_regular-webfont.ttf') format('truetype'),
         url('../font/electroluxsans_3_regular-webfont.svg#electrolux_sans_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'E_semibold';
    src: url('../font/electroluxsans_4_semibold-webfont.eot');
    src: url('../font/electroluxsans_4_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/electroluxsans_4_semibold-webfont.woff2') format('woff2'),
         url('../font/electroluxsans_4_semibold-webfont.woff') format('woff'),
         url('../font/electroluxsans_4_semibold-webfont.ttf') format('truetype'),
         url('../font/electroluxsans_4_semibold-webfont.svg#electrolux_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'E_bold';
    src: url('../font/electroluxsans_5_bold-webfont.eot');
    src: url('../font/electroluxsans_5_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/electroluxsans_5_bold-webfont.woff2') format('woff2'),
         url('../font/electroluxsans_5_bold-webfont.woff') format('woff'),
         url('../font/electroluxsans_5_bold-webfont.ttf') format('truetype'),
         url('../font/electroluxsans_5_bold-webfont.svg#electrolux_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size: 1em;
    color: white;
    line-height: 1.3em;
    background-color: #000e44
}
a {
    color: white;
}
a:hover {
    color: #cb66a4;
}
header {
    background: url("../../img/background.jpg");
    text-align: center;
    padding: 50px 10px 10px 10px;
}
header .logo {
    display: block;
    margin-bottom: 10px;
}
header h1 {
    color: white;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -3px;
    line-height: 65px;
}
header h1 strong {
    color: #cb66a4;
    font-size: 80px;
}
header h1 span {
    font-size: 80px;
}
section {
    background-color: #000e44;
    padding: 100px 50px 50px 50px;
}
section h1 {
    color: white;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin: 0;
    font-weight: 100;
    font-family: E_regular;
}
section h1 span div {
    font-size: 1.0em;
    display: inline;
    font-family: E_semibold;
}
section h1 strong {
    font-family: E_bold;
    font-size: 1.15em;
}
section h1 span:first-child {
    font-family: E_regular;
    font-size: 1.316em;
}
section h1 span:last-child {
    font-family: E_semibold;
    font-size: 0.933em;
}
section h2 {
    font-family: E_semibold;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 25px;
    letter-spacing: -1px;
}
section small {
    font-size: 0.8em;
}
section small span {
    font-family: E_semibold;
}
footer {
    height: 250px;
    background-color: #fff;
    display: block;
}
.button.loja01 {
    background-color: #E35E54;
}
.button.loja02 {
    background-color: #BF4B8E;
}
.button.loja03 {
    background-color: #1895B4;
}
.button , .md-close {
    color: white;
    font-family: E_semibold;
    padding: 10px 35px;
    border-radius: 50px;
    display: inline-block;
}
.button:hover , .md-close:hover {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.purple {
    color: #cb66a4;
}
.v-paddin-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-pachot {
    z-index: 9;
    position: relative;
    margin-top: 20px;
}
.margin-top-20 {
    margin-top: 20px;
}
.img-width-80 img{
    width: 80%;
    max-width: 252px;
}
/* General styles for the modal */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 630px;
    max-height: 88%;
    min-width: 320px;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.md-show {
    visibility: visible;
}
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,6,30, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}
/* Content styles */
.md-content {
    color: #fff;
    background: #000E44;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    padding-bottom: 1px;
}
.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}
.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1em;
    height: 290px;
    overflow: auto;
}
.md-content > div p {
    margin: 0;
    padding: 10px 0;
}
.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}
.md-content > div ul li {
    padding: 5px 0;
}
.md-content button {
    display: block;
    font-size: 0.8em;
    border: none;
    margin: 10px auto;
}
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.faq {
    height: inherit;
}
/* xs */
@media (max-width: 767px) {
    body {
        font-size: 1em;
    }
    section h1 {
        text-align: center;
        font-size: 1.7em;
    }
    .show-title {
        display: block;
    }
    .align-right {
        text-align: center;
        margin-top: 15px;
    }
}
@media (min-width: 767px) {
    html, body, article, header {
        height: 100%;
    }
}
/* sm */
@media (max-width: 992px) {
    section {
        background-color: #000e44;
        padding: 17px;
    }
    section h1 {
        text-align: center;
        font-size: 1.4em;
    }
    .show-title {
        display: block;
    }
}
@media (min-width: 992px) {
    html, body, article, header, section {
        height: 100%;
    }
}
@media (max-width: 1200px) {

    section h1 {
        display: block;
        font-size: 1.7em;
    }
    .show-title {
        display: none;
    }
}
@media (min-width: 1200px) {
    body {
        font-size: 1em;
    }
    section h1 {
        display: block;
        font-size: 2.5em;
    }
    .show-title {
        display: none;
    }
}